body
{
  margin: 0;
  padding: 0;
  font-family: candara;
}
 header 
{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/83.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100%;
}

header .col-md-8 .card 
{
  border:  none;
}

header .col-md-8 .card img
{
  height: 270px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header  .change
{
  animation: change 15s infinite;
  height: 100%;
  }

@keyframes change{
0%
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/92.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em;
  height: 550px;
}

50%
{
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/84.jpg);
  background-size: cover;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  padding: 2em;
  height: 550px;
}

75%
{
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/71.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em;
  height: 550px;
}

100%
{
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/87.jpg);
  background-size: cover;
  width: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 2em;
  height: 550px;
  }
}

header .col-md-8 .card .details
{
 position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

header .col-md-8 .card:hover .details{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s;
}

header .col-md-8 .card .details h3
{
  display: none;
}

header .col-md-8 .card .details:hover h3
{
  color: white;
  text-align: center;
  top: 8em;
  position: relative;
  display: block;
  font-family: candara;
  transition: 1s;
}
header .navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  width: 100%;
  letter-spacing: .1rem;
  padding: 1.4em;
  box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: 1s;
  position: fixed;
}
header .navbar:hover
{
  background: white;
}

.navbar-brand
{

  position: absolute;
  left: 44%;
  top: 0;
  content: "";
}
header .navbar-nav .active
{
  border-bottom: 2px solid black;
}

header .navbar-nav .nav-link{
  color: black !important;
  padding-top: .7rem;
}

header .navbar-nav .nav-link:hover{
  border-radius: 2px;
  transition: 0.5s;
  border-top: 2px solid teal;

}
.caption{
  width: 100%;
  position: absolute;
  top: 30%;
  z-index: 1;
 } 

.caption h1, p
{
  padding: 1em;
  /*font-size: 3.5em;*/
  letter-spacing: .2.8rem;
  font-family: candara;
  /*color: white;*/
}

.container-fluid h1
{
  font-size: 35px
}

.container-fluid h1 span
{
  color: teal;
  font-weight: 700;
  font-size: 40px

}

.container-fluid .underline
{
  height: 2px;
  background: teal;
  width: 8%;
  place-items: center;
  margin: auto;
}

.container-fluid .col-lg-3 .card
{
  box-shadow: 1px 0.8px 1px 0.8px;
}

.container-fluid .col-lg-3 .card:hover
{
  transform: scale(1.15);
  border: none;
  box-shadow: none;
  transition: 1s ease
}

.container-fluid .col-lg-3 img,embed
{
  height: 35vh;
}

.container-fluid .col-lg-3 .card p
{
  font-weight: 700
}

.container-fluid .col-lg-3 .card button
{
  display: grid;
  pplace-items: center;
  margin: auto;
  border-bottom: 0.2px solid #24282C;
  border-top: 0.2px solid #24282C;

}
.container-fluid .col-lg-3 .card button:hover
{
  transition: 2s ease;
  background: teal;
  color: white;
  border: none;
}



  .containers
  {
    width: 100%;
    height: 100vh;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containers ul{
    list-style: none;
  }

.box
{
  width: 350px;
  height: 610px;
  background: orange;
  border: 10px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px 10px;
}

.model
{
  height: 350px;
  max-height: 100%;
  max-width: 100%;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.details p
{
  font-family: calibri;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-top: 20px;
}

.marvel
{
  color: white;
  fomt-weight: bold;
  letter-spacing: bebas kai;
  font-size: 25px;
}

.logo 
{
  height: 60px;
}

.box:hover
{
  background:  white;
  transform-style: preserve-3d;
  transform: scale(1.02);
  transition: all ease 0.3s;
}

.boxer:hover .marvel
{
  color: blue;
  transition: all ease 0.7s;
}

.container .underline
{
  height: 2px;
  background: teal;
  width: 8%;
  place-items: center;
  margin: auto;
}

.container h2 span
{
  color: teal;
  font-weight: 700;
  font-size: 40px

}

 .Box
{
  /*height: 210px;*/
  box-shadow: 2px 1px 2px 1px,
            -2px -1px 2px 1px;
}

 .Box img
{
  height: 190px;
}

.first:hover
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/67.jpg);
  background-position: bottom 50%;
  background-size: cover;
  background-repeat: no-repeat;
   transform: scale(1.3);
  transition: 1s ease;
  z-index: 1;
  color: white;
  box-shadow: 2px 1px 2px 1px transparent,
            -2px -1px 2px 1px transparent;
}

.second:hover
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/89.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
   transform: scale(1.3);
  transition: 1s ease;
  z-index: 1;
  color: white;
  box-shadow: 2px 1px 2px 1px transparent,
              -2px -1px 2px 1px transparent;

}
.Box .second .col-md-6:hover
{
  color:  red;
}

.third:hover
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/65.jpg);
  background-position: bottom 50%;
  background-size: cover;
  background-repeat: no-repeat;
   transform: scale(1.3);
  transition: 1s ease;
  z-index: 1;
  color: white;
  box-shadow: 2px 1px 2px 1px transparent,
            -2px -1px 2px 1px transparent;
}


.four:hover
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/30.jpg);
  background-position: bottom 50%;
  background-size: cover;
  background-repeat: no-repeat;
   transform: scale(1.3);
  transition: 1s ease;
  z-index: 1;
  color: white;
  box-shadow: 2px 1px 2px 1px transparent,
            -2px -1px 2px 1px transparent;
}


.five:hover
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/90.jpg);
  background-position: bottom 50%;
  background-size: cover;
  background-repeat: no-repeat;
   transform: scale(1.3);
  transition: 1s ease;
  z-index: 1;
  color: white;
  box-shadow: 2px 1px 2px 1px transparent,
            -2px -1px 2px 1px transparent;
}

.six:hover
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/72.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.3);
  transition: 1s ease;
  z-index: 1;
  color: white;
  box-shadow: 2px 1px 2px 1px transparent,
            -2px -1px 2px 1px transparent;
}

.Message
{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(images/98.jpg);
  background-position:100%  center 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
}

.Message p
{
  color: white;
  transition: 1s ease;
}

.Features
{
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/98.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;
  height: 40vh;
}
.Features .row .fa, .fab
{
  margin: auto;
  place-items:  center;
  display: grid;
  color: white;
  width: 20%;
}

.Features .row .content
{
  text-align: center;
  color: white;

}

 .push
{
  /*color: red;*/
   animation: push 5s infinite;
}

@keyframes push
{
  0%
  {
    transform: scale3d(1.5, 1.0, 1.5);
  }

  50%
  {
    transform: rotateY(45deg);
  }

  75%
  {
    transform: rotateX(45deg);
  }

   100%
  {
    transform: skewY(15deg);
  }
}

.pull
{
  /*color: red;*/
   animation: pull 5s infinite;
}

@keyframes pull
{
  0%
  {
    transform: scaleZ(4.0);
  }

  50%
  {
    transform: rotate3d(0, 0, 1, 45deg);
  }

   75%
  {
    transform: rotateY(45deg);
  }

   100%
  {
    transform: skewY(15deg);
  }
}

@media screen and (max-width: 991px)
{
  .Features{
    height: 100% !important;
  }
}

/*@media (max-width: 991px)
{
    .Features{
        height: 100% !important;
    }
}*/





