body {
   font-family: candara; 
   margin: 0;
}
.container-fluid
{
	margin: auto;
	place-items: center;
	display: grid;

}
.card-header
{
	box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.7);
}

.card
{
	/*background: linear-gradient(45deg, orangered, yellow, orange);*/
	border-radius: 10px !important;
	width: 50%;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3), -2px 2px 4px 2px #fff;
	top: 5em;
	position: relative;
	padding: 5px;
}

.change
{
  animation: change 15s infinite;
  /*padding: 2em;*/
  }

 @keyframes change{
  0%
   {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/32.jpg);
      background-size: cover;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      padding: 2em;
    }
    50%
    {
      background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/33.jpg);
      background-size: cover;
      width: 100%;
      background-position: top;
      background-repeat: no-repeat;
      padding: 2em;
    }
    /*75%
    {
      background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/25.jpg);
      background-size: cover;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      padding: 2em;
    }*/
    100%
    {
      background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/4.jpg);
      background-size: cover;
      width: 100%;
      background-position: bottom;
      background-repeat: no-repeat;
      padding: 2em;
    }
  }

.card img
{
	width: 150px;
	height: 200px;
	margin: auto;
	place-items: center;
	display: grid;
}

label
{
	display: none;
	color: teal;
	font-weight: 450;
	font-size: 15px;
	text-transform: uppercase;

}
.card .text-center
{
	font-size: 18px;
	font-family: 500
}

.card .form-control
{

    /*border-radius: 100px;
    box-shadow: 2px 2px 2px 1px #474343, -2px 2px 4px #fff;*/
    border: none;
    border-bottom: 1px solid white;
    background:  transparent;
    color:  white;
    border-radius: 0;
}

.card .form-control:focus
{
	box-shadow: none;
}

.second
{
	background: url(../images/log.png);
  	background-size: 100% top 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	height: 60vh;
}

.second h2
{
	color: black;
	/*top: 3em;*/
	position: relative;
	/*left: 2em;*/
}

.card .btn-xl
{
	/*width: 30%;*/
	/*margin: auto;*/
	color: white;
	/*float: left;*/
	background: transparent;
	border-radius: 5px;
	border: 2px solid #006D72;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;

	/*border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;*/

	width: 120px
}
.card .btn-xl:hover
{
	background: #006D72;
	color: white;
	transition: 1s ease-in;
}
.card .btn-button
{
	border: 2px solid #28A745;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	/*border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;*/
	width: 120px;
	background: transparent;
	color: white;
}
.card .btn-button a
{
	color: white;

}
.card .btn-button:hover
{
	background: #28A745;
	color: white;
	transition: 1s ease-in;
}

.card .btn-button a:hover
{
	color: white;

}

@media (max-width: 991px)
{
    .card{
        width: 100% !important;
        top: 0;
        left: 0;
        bottom: 0;
        position: relative;
    }

    .second
	{
  	height: 50vh;
	}
}