.container
{
	place-items: center;
	display: grid;
	top: 7em;
	position: relative;
	font-weight: 500
}
.card
{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/6.jpg);
    background-size: cover;
    background-position: 50% center 50%;
	box-shadow: 2px 2px 4px 2px #474343, -2px 2px 4px 2px #fff;
	width: 55%
}

.card-header
{
	box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.7);
	border-radius: 100px;
}
label
{
	color: white;
	font-size: 15px;
}
.card .form-control
{
    border: none;
    border-bottom: 1px solid white;
    background:  transparent;
    color:  white;
}

.card .form-control:focus
{
	box-shadow: none;
}

.second
{
	top: 2em;
	position: relative;
}
.second img
{
 /* border-radius: 80%;
  box-shadow: 0px 0px 2px teal,
  0px 0px 0px 5px teal;*/
  /*height: 180px;*/
  width: 150px;
  place-items: center;
  display: grid;
  margin: auto;

}

.btn-success
{
	place-items: center;
	/*display: grid;*/
	margin: auto;
	background:  transparent;
	color:  white;
	width: 120px;
	border-color: #218838 rgba(0, 0, 0, 0.7);
	box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.7);
	border-radius: 100px;
}

.btn-success:hover
{
	transition: 1s ease;
}
